.container-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 105, 255, 0.5), rgba(0, 105, 255, 0.5)),
    url('../assets/contact-bg.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 85vh;
  padding: 20px;
  font-family: 'Nunito Sans', sans-serif;
}

.form-and-maps-container {
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #cccccc;
  margin: 0 auto;
}

.form-and-map-wrapper {
  display: flex;
}

.contact-section {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 50px;
}

.form-maps-section, .google-map {
  width: 50%;
  padding: 15px;
}

.form-maps-section {
  max-width: 950px;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.btn-centre {
  display: block; 
  margin: 0 auto; 
}
button {
  width: auto;
  padding: 10px 20px;
  background-color: #0d6efd;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  
  

  &:hover {
    background-color: #0056b3;
  }
}

.google-map iframe {
  width: 200%; 
  height: 300px;
}
.icon-maps {
  width: 20px; 
}
.phone-container {
  display: flex;
  align-items: center; 
}
.icon-smartphone {
  width: 20px; 
}
.phone-container p {
  margin: 0; 
  display: inline-block; 
}

h1 {
  text-transform: uppercase;
}

h4, h6 {
  color: #1e1e1e;
  font-weight: 600;
  margin-bottom: 20px;

}


@media(min-width: 768px)and (max-width: 1024px)  {
  .container-contact {
   height: 86vh;
   
  }
  .form-and-map-wrapper {
    flex-direction: row;
  }
  .google-map iframe {
    width: 150%; 
    height: 250px;
  }
  .form-maps-section, .google-map {
    width: 80%; 
    padding: 30px;
   }
}

@media (max-width: 480px) {
  .container-contact {
    height: auto;
   
    
  }

  .form-and-maps-container {
    width: auto; 
  }

  .form-and-map-wrapper {
    flex-direction: column;
  }
  .form-maps-section, .google-map {
    width: 100%;
  }
  .google-map iframe {
    width: 100%; 
    height: 200px;
  }

  h1, h4, h6 {
    margin-bottom: 10px; 
  }

  input, textarea, button {
    padding: 8px; 
  
  }
}

 

  


