@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');


.main-container {
  .home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../assets/hero-bg.jpg'); 
    background-size: cover;
    background-position: center;
    color: #fff;
  }   
  p {
    color: #444; 
    margin-top: 20px;
    font-size: 20px; 
    font-weight: 400
  }

.col-12.col-md-6 {
  display: flex;
  flex-direction: column; 
  text-align: center; 
  align-items: center;
  position: relative;
  z-index: 2;
  

  .btn-primary {
    margin-top: 10px;
  } 
}  

.about-image-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 

  h1, h2, h3, strong{
    color: #1e1e1e ;
    font-weight: 600;
   }
  }
}  

.about-section
{
  flex: 1;
  margin-right: 20px;
  
} 
.img-section {
  flex: 1; 
  padding: 20px;
}

.progress-label{
  margin-bottom: 5px;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  background-color: #EEE; 
  color:#298eff;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  border-radius: 10%; 
}

.back-to-top:hover {
  background-color: #298eff; 
  color: #EEE;
}
.social-icons img {
  width: 25px; 
  height: auto; 
  margin-right: 15px; 
}

// Media queries pour les tablettes
@media (max-width: 768px) {
  .main-container.home-container {
    background-image: url('../assets/hero-bg-tablette.jpg');
    .progress-bar {
      height: 20px; 
    }

    .progress {
      margin-bottom: 15px; 
    }
  }

  .about-image-container {
    flex-direction: column;
  }

.img-section {
  order: 1; 
  padding:  10px; 

    img {
      max-width: 100%; 
      height: auto;
   }
  }
}



// Media queries pour les mobiles
@media (max-width: 480px) {
.main-container  .home-container {
  background-image: url('../assets/hero-bg-mobile.jpg');
    
    .progress-bar {
      height: 5px; 

      .progress {
        margin-bottom: 10px; 
        }
      }
    } 
  }
  
// FOOTER
  
.footer-container {
  background-color: #EEEEEE; 
  color: #1e1e1e; 
  padding: 3rem 0; 
  display: flex;

  .footer-content {
    justify-content: space-around; 
  }
 
  .footer-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 160px; 
    margin: 0 40px; 
  padding: 30px;

    p, ul {
      margin: 0 0 10px; 
    }
  
    ul {
      list-style-type: none; 
      padding: 0; 
  
      li {
        margin-bottom: 5px; 
      }
    }
  }
}
// Media queries pour les tablettes
@media (max-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center; 
    padding: 2rem 0;


      ul {
        padding: 0;
      }

      li {
        margin-bottom: 10px; 
      }
    }
  }


// Media queries pour les mobiles
@media (max-width: 480px) {
  .footer-container {
    padding: 1.5rem 0;

    .footer-column {
      margin: 0 10px; 
      padding: 15px 0; 

      ul {
        padding: 0;
      }

      li {
        margin-bottom: 8px; 
      }
    }
  }
}


