@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');


.main-container {
  .home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background:  linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../assets/hero-bg.jpg'); 
    background-size: cover;
    background-position: center;
    color: #fff;
  }   
  p {
    color: #444; 
    margin-top: 20px;
    font-size: 20px; 
    font-weight: 400
  }

.col-12.col-md-6 {
  display: flex;
  flex-direction: column; 
  text-align: center; 
  align-items: center;
  position: relative;
  z-index: 2;
  

  .btn-primary {
    margin-top: 10px;
  } 
}  

.about-image-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 

  h1, h2, h3, strong{
    color: #1e1e1e ;
    font-weight: 600
   }
  }
}  

.about-section
{
  flex: 1;
  margin-top: -20px;
  
} 
.img-section {
  flex: 1; 
  padding: 20px;
}

.photo-section img {
  width: 100%; 
 
}

.progress-label{
  margin-bottom: 5px;
}


.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  background-color: #EEE; 
  color:#298eff;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  border-radius: 10%; 
}

.back-to-top:hover {
  background-color: #298eff; 
  color: #EEE;
}


// Media query pour les tablettes
@media (max-width: 768px) {
  .main-container.home-container {
    background-image: url('../assets/hero-bg-tablette.jpg');
    .progress-bar {
      height: 20px; 
    }

    .progress {
      margin-bottom: 15px; 
    }
  }

  .about-image-container {
    flex-direction: column;
  }

.img-section {
  order: 1; 
  padding:  10px; 

    img {
      max-width: 100%; 
      height: auto;
   }
  }
}



// Media query pour les mobiles
@media (max-width: 480px) {
.main-container  .home-container {
    background-image: url('../assets/hero-bg-mobile.jpg');
    
    .progress-bar {
      height: 5px; 

      .progress {
        margin-bottom: 10px; 
        }
      }
    } 
  }


