@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap');

.m-container {
      font-family: 'Nunito Sans', sans-serif;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
  
     
  h1 {
    text-transform: uppercase;
    margin: 0;
    padding: 0.5em 0;
    font-weight: 600;
        
  }
}

.subtitle-style {
  border-Bottom: 4px solid blue;
  width: 40%;
  margin: auto;
  font-weight: 600; 
  margin-bottom: 10px;
}

.container {
  display: flex;
       
} 

.banner {
  background-image: url('../assets/banner.jpg'); 
  background-size: cover;
  background-position: center;
  height: 200px; 
}

.img-section{
    padding: 0;
} 

 

.box {
  flex: 1; 
  margin: 10px;
  border-radius: 10px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  background-color: white;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
  padding: 10px; 

  }

.box img {
  width: 20%; 
  height: auto;
  &:hover {
    .service-icon {
      color: #cde1f8;
    }
  }
}

// Media querie pour les tablettes
@media (min-width: 768px)and (max-width: 1024px) {
  .banner {
    background-image: url('../assets/banner-tablette.jpg'); 
    background-size: cover;
    background-position: center;
    height: 150px; 
    }
    
  }
    .box {
    width: calc(33% - 15px); 
    margin: 20px;   
}

.box h2 {
  font-size: 1.4em; 
  margin: 0.5em 0; 
}
.subtitle-style {
  border-bottom: 4px solid blue;
  width: 30%;
}  


// Media querie pour les mobiles
@media (max-width: 480px) {
  .container {
    align-items: center;
    text-align: center;
    padding: 0;
    flex-direction: column;
}

  .banner {
    background-image: url('../assets/banner-mobile.jpg'); 
    background-size: cover;
    background-position: center;
    height: 150px; 
    flex-direction: column;
  }  

  .subtitle-style {
    width: 20%; 
  }

  .box {
    margin: 10px;
    padding: 30px;
    
  }
  .box img {
    width: 20%; 
    height: auto; 
  }
}
      
    
    



   
